.country-list {
    width: 30%;
    border: 2px solid black;
    border-radius: 15px;
    text-align: left;
    margin: 30px;
    font-size: 25px;

}
.country-list ul {
    list-style: none;
}
.country-list li {
    padding: 1px 10px;
}
.country-list li a {
    color: #000;
}