.country {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    border: 2px solid black;
    border-radius: 15px;
    margin: 30px;
    padding: 15px;
}
.country h1 {
    margin-top: 0;
}
.flag {
    position: absolute;
    top: 55px;
    right: 40px;
    height: 200px;
    border: 1px solid #ccc;
}